:root {
  --reko-colour: hsl(99, 54%, 36%);
  --reko-colour-darker: hsl(99, 54%, 32%);
  --local-food-node-colour: hsl(14, 89%, 32%);
  --local-food-node-colour-darker: hsl(14, 89%, 28%);
  --header-height: 55px;
}

html,
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

header {
  background-color: var(--reko-colour);
  height: var(--header-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  transition: all 500ms ease;
}

header figure {
  position: absolute;
  width: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-12px);
  z-index: 1200;
  margin: 0;
  border-radius: 100%;
  background-color: var(--reko-colour);
  border: 10px solid var(--reko-colour);
}

header figure img {
  display: block;
}

lantmateriet-karta {
  display: block;
  width: 100%;
  height: calc(100vh - var(--header-height));
  flex: 1;
  transition: opacity 500ms ease 200ms;
}

.loading lantmateriet-karta {
  opacity: 0;
}

#menu-button {
  all: unset;
  color: white;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: transparent;
  transition: background-color 150ms ease;
}

#menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

reko-page {
  position: absolute;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
  transform: none;
  transition: transform 250ms ease;
}

reko-page:not([page-id]) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(110%);
}
