@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Muli:wght@300;400');

:host {
  --golden-ratio: 1.61803398875rem;
  --local-golden-ratio: 1.61803398875rem;
  padding: calc(var(--golden-ratio) * 3) var(--golden-ratio);
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  font-family: 'Muli', sans-serif;
  overflow-y: scroll;
}

#close-button {
  all: unset;
  position: absolute;
  top: var(--golden-ratio);
  right: var(--golden-ratio);
  cursor: pointer;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: calc(var(--golden-ratio) * 2);
  text-transform: uppercase;
  color: var(--reko-colour-darker);
  margin-top: 0;
  text-align: center;
  display: block;
}

article {
  background-color: white;
  overflow: hidden;
  margin-top: var(--golden-ratio);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

article header h2 {
  margin-top: 0;
  background-image: linear-gradient(rgba(136,90,62,.5),rgba(96,48,19,.5) 70%,rgba(136,90,62,.5)),url(/img/dark-paper.svg);
  font-family: 'Chelsea Market', cursive;
  color: gold;
  letter-spacing: 2px;
  padding: var(--golden-ratio);
  display: inline-block;
  border-bottom-right-radius: var(--golden-ratio);
}

article p {
  margin: var(--golden-ratio);
}

article footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--golden-ratio);
}

article footer a {
  display: inline-block;
  background-color: var(--reko-colour);
  color: white;
  border-radius: calc(var(--local-golden-ratio) / 2);
  padding: calc(var(--local-golden-ratio) / 2) var(--local-golden-ratio);
  text-decoration: none;
  margin: 0 var(--golden-ratio);
}

article footer a[href*="facebook"] {
  background-color: #4469B0;
}